.wrapper {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border: 10px solid #fff;
}

tr {
    height: 48px;
}

td {
    border: 8px solid #000000;
    box-sizing: border-box;
}

.cell_1 {
    width: 120px;
}

.cell_2 {
    width: 200px;
}

.cell_3 {
    width: 180px;
    background: #fffa69;
}

.cell_5 {
    width: 300px;
    height: 360px;
    background: #fd664c;
}

.cell_10, .cell_15 {
    height: 80px;
    background: #0f0c0d;
}

.cell_11 {
    width: 72px;
}

.cell_12 {
    width: 100px;
}

.cell_6, .cell_14 {
    background: #fffa69;
}

.cell_11, .cell_16, .cell_21 {
    background: #0f0c0d;
}

.cell_19 {
    background: #064581;
}

.cell_20 {
    border-bottom: 0;
}

.border {
    border-right: 8px solid #fff;
}
